___

<a href='https://www.udemy.com/user/joseportilla/'><img src='https://github.com/Pierian-Data/Complete-Python-3-Bootcamp/blob/master/Pierian_Data_Logo.png?raw=1'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
      return min([a,b])
    else:
      return max([a,b])

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [6]:
def animal_crackers(text):
    if text.split()[0][0] == text.split()[1][0]:
      return True
    else:
      return False

In [7]:
# Check
animal_crackers('Levelheaded Llama')

True

In [8]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [9]:
def makes_twenty(n1,n2):
    if sum([n1, n2]) == 20 or 20 in [n1, n2]:
      return True
    else:
      return False

In [10]:
# Check
makes_twenty(20,10)

True

In [11]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [14]:
def old_macdonald(name):
    return name[:3].capitalize() + name[3:].capitalize()

In [15]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [40]:
def master_yoda(text):
    return " ".join(text.split()[::-1])

In [41]:
# Check
master_yoda('I am home')

'home am I'

In [42]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [44]:
def almost_there(n):
    if abs(100 - n) <= 10 or abs(200 - n) <= 10:
      return True
    else:
      return False

In [45]:
# Check
almost_there(104)

True

In [46]:
# Check
almost_there(150)

False

In [47]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33:

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [49]:
def has_33(nums):
    if '33' in ''.join(map(str, nums)):
      return True
    else:
      return False

In [50]:
# Check
has_33([1, 3, 3])

True

In [51]:
# Check
has_33([1, 3, 1, 3])

False

In [52]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [53]:
def paper_doll(text):
    return "".join(map(lambda num: num * 3, text))

In [54]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [55]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [56]:
def blackjack(a,b,c):
  s = sum([a, b, c])
  if s <= 21:
    return s
  if s > 21 and 11 in [a, b, c] and s - 10 <= 21:
      return s - 10
  else:
    return 'Bust'

In [57]:
# Check
blackjack(5,6,7)

18

In [58]:
# Check
blackjack(9,9,9)

'Bust'

In [59]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [115]:
def summer_69(arr):
    return sum([i for i in arr if i != 6 and i != 9 and f'6{str(i)}9' not in ''.join(map(str, filter(lambda num: num == 6 or num == i or num == 9, arr)))])

In [116]:
# Check
summer_69([1, 3, 5])

9

In [117]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [118]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [87]:
def spy_game(nums):
    return  '007' in "".join(map(str, filter(lambda num: num == 0 or num == 7, nums)))

In [88]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [89]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [90]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [129]:
def count_primes(num):
    return len([i for i in range(2, num + 1) if all(i % j != 0 for j in range(2, int(i ** (1/2) + 1)))])

In [130]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [253]:
def print_big(letter):
    patterns = {'3': "  *  ", '24': ' * * ', 'full': '*****', '15': "*   *", '1234': "**** ",
    '123':'***  ', '5' : '    *', '15' : '*   *', '2': ' *   ', '345': '  ***', '1': '*    ',
    '14': '*  * ', '1345':'* ***', '34': '  ** ', '14': '*  * ', '2345': ' ****', '234': ' *** ',
    '13': '* *  ', '23': ' **  ', '12': '**   ', '135': '* * *', '1245':  '** **', '124':'** * ', '125': '**  *',
    '145': '*  **', '4': '   * '
    }

    def print_patterns(top, second, center, third, base):
      print(patterns[top], patterns[second], patterns[center], patterns[third], patterns[base], sep ='\n')

    if letter == 'a':
      print_patterns('3', '24', 'full', '15', '15')
    elif letter == 'b':
      print_patterns('1234', '15', '1234', '15', '1234')
    elif letter == 'c':
      print_patterns('345', '2', '1', '2', '345')
    elif letter == 'd':
      print_patterns('1234', '15', '15', '15', '1234')
    elif letter == 'e':
      print_patterns('full', '1', 'full', '1', 'full')
    elif letter == 'f':
      print_patterns('full', '1', 'full', '1', '1')
    elif letter == 'g':
      print_patterns('2345', '1', '1345', '14', '234')
    elif letter == 'h':
      print_patterns('15', '15', 'full', '15', '15')
    elif letter == 'i':
      print_patterns('234', '3', '3', '3', '234')
    elif letter == 'k':
      print_patterns('15', '14', '13', '14', '15')
    elif letter == 'l':
      print_patterns('1', '1', '1', '1', 'full')
    elif letter == 'm':
      print_patterns('15', '1245', '135', '15', '15')
    elif letter == 'n':
      print_patterns('15', '125', '135', '145', '15')
    elif letter == 'o':
      print_patterns('234', '15', '15', '15', '234')
    elif letter == 'p':
      print_patterns('1234', '15', '1234', '1', '1')
    elif letter == 'q':
      print_patterns('2345', '15', '15', '2345', '345')
    elif letter == 'r':
      print_patterns('1234', '15', '1234', '15', '15')
    elif letter == 's':
      print_patterns('234', '1', '234', '5', '234')
    elif letter == 't':
      print_patterns('full', '3', '3', '3', '3')
    elif letter == 'u':
      print_patterns('15', '15', '15', '15', '345')
    elif letter == 'v':
      print_patterns('15', '15', '15', '24', '3')
    elif letter == 'w':
      print_patterns('15', '15', '135', '1245', '15')
    elif letter == 'x':
      print_patterns('15', '24', '3', '24', '15')
    elif letter == 'y':
      print_patterns('15', '24', '3', '3', '3')
    elif letter == 'z':
      print_patterns('full', '5', '4', '3', 'full')

In [254]:
print_big('z')

*****
    *
   *
  *
*****

## Great Job!